@media screen and (max-width:991px) {
    .textholder{
        margin-top: 20px;
        /* height: 30%; */
        width: 90%;
        font-family: 'Fira Sans', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        color: #333333;  
    }
    .books{
        text-align: center;
        margin-top: 20px;
        font-family: 'Fraunces'!important;
        font-size: 36px;
    font-weight: 400;
    }
    .bigfoot{
        background-color: rgb(0, 0, 0);
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding-top: 14%;
        padding-bottom: 9%;
     }
    .whitee{
        display: flex;
        justify-content: center;
        padding: 3%;
    }
    .boxes1{
        background-color: #F9F9F9;
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .boxes2{
        object-fit: cover;
        height: 500px;
        width: 100%;
    }
    .boxes3{
    object-fit: cover;
        height: 500px;
        width: 100%;
    }
    .boxes4{
        background-color: #F9F9F9;
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .rooms{
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        color: #000000;
            }
    .quote{
        text-align: center;
        margin-top: 110px;
        margin-bottom : 20px;
        font-family: 'Fraunces'!important;
        font-size: 32px;
        font-weight: 400;
    }
    .connet{
        /* text-align: center; */
        font-weight: 300;
        font-family: 'Fira Sans', sans-serif;
        font-size: 25px;
        padding-top: 90px; 
     }
    .board{
        text-align: center;
        font-family: 'Fraunces';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    }
    .nanaa{
        text-align: center;
        font-weight: 200;
        font-family: 'Fira Sans', sans-serif;
        font-size: 17px;
    }
    .switch{
        display: flex;
        flex-direction: column-reverse;
    }
    .nav1{
        display: none;
    }
    .pushs{
        padding-bottom: 130px;
     }
     .culture{
     
        font-family: 'Fira Sans', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        margin-top: 20px;
        text-align: center;
        width: 100%;
     }
     .inspired{
    
        color: #000000;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        text-align: center;
     }
}
@media screen and (min-width:990px) {
    .navbar{
        display: none !important;
    }
}
@media screen and (max-width:768px) {
    .rating{
        /* height: 70%; */
        width: 100%;
        font-family: 'Fira Sans', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        text-align: center; 
        color: #FFFFFF;
        
    }
    .exceptx{
        width: 70%;
        padding-left: 10%;
        
            top: 100px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            color: #ffffff;
             }
    .noway{
        display: none;
        flex-wrap: wrap;
        margin-top: 15px;
     }
}

/* @media screen and (max-width:425px) {   

    .except{
        z-index: 9;
        top: 65px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Fraunces';
font-style: normal;
font-weight: 300;
font-size: 20px;

text-transform: uppercase;

color: #FFFFFF;
         }
} */
@media screen and (min-width:1440px) {   
    .exceptance{
        z-index: 10;
        top: 1px;
        
        /* position: relative; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 300;
        font-size: 80px;
        /* background-color: red; */
        text-transform: uppercase;
        
        color: #ffffff;
         }

    .except{
        z-index: 9;
        /* top: 300px; */
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Fraunces';
font-style: normal;
font-weight: 300;
font-size: 80px;

text-transform: uppercase;

color: #FFFFFF;
         }
}
@media screen and (max-width:768px) {   

    .standard{
        font-family: 'Fraunces';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    margin-left: 18px;
    }
    .lag{
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 200;
        font-size: 16px;
        margin-left: 20px;
    }
    .lag img{
      width: 20%;
    }




.howcan span{
    opacity: 0 !important;
}
.float{
    position:fixed;
    width:50px;
    height:50px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:13px;
    text-align:center;
  font-size:30px;
  text-decoration: none !important;
  color: white!important;
  z-index:100;
}
.my-float{
    /* margin-top:-2px !important; */
    font-size: 25px !important;
    text-decoration: none !important;
    text-align: center !important;
    color: white!important;
}

    .mbok{
        transition: none;   
    }
    .mbok:hover { transform: none; }


    .mbok2{
        -moz-transition:none;
        -webkit-transition:none;
        transition:none; 
    }
    .mbok2:hover { 
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    }


    .image-card{
        height: 250px;
        width: 340px;
        transition: none;  
    }
    .image-card:hover { transform: none; }
    


    .Kard{
        background: #FFFFFF;
        box-shadow: 0px 3.70795px 22.2477px rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        padding: 5px;
       transition: none; 
    
    }
    .Kard:hover { transform: none; }
    
    .Kard2{
        background: #FFFFFF;
        box-shadow: 0px 3.70795px 22.2477px rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        padding: 5px;
        margin-top: 10%;
        transition: none; 
    }
    .Kard2:hover { transform: none; }






    .except{
        z-index: 9;
        top: 65px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Fraunces';
font-style: normal;
font-weight: 300;
font-size: 25px;

text-transform: uppercase;

color: #FFFFFF;
         }
}