.ppp{
    padding-right: 25%;
}
.navbar-toggler{
background-color: white !important;
}
.navbar{
    background-color: #2D2B2B;
    color:white;
position: absolute;
    width: 100%;
}
.fontss{
    font-size: 16px !important;
    font-family: 'Fraunces'!important;
    font-style: normal !important;
    font-weight: 500 !important;
  
}
.capping{
margin-bottom: 30%;
}
.logo{
    margin-top: 10px;
    width:52%
    }
.icon{

    width: 100px;
   }
.image-card{
    height: 250px;
    width: 340px;
    transition: all .2s ease-in-out;  
}
.image-card:hover { transform: scale(1.1); }


.mbok{
    transition: all .2s ease-in-out;   
}
.mbok:hover { transform: scale(1.1); }
.mbok2{
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; 
}
.mbok2:hover { 
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -o-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
}



.roomss{
    text-align: center;
    cursor: pointer;
    margin-top: 24px !important;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}
.virtual{
    text-align: center;
    margin-top: 40px;
    margin-bottom : 90px;
    font-weight: 300;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
}
.books{
    text-align: center;
    margin-top: 20px;
    font-family: 'Fraunces'!important;
    font-size: 50px;
font-weight: 400;
}
.books2{
    text-align: center;
    margin-top: 20px;
    font-family: 'Fraunces'!important;
    font-size: 35px;
font-weight: 400;
}
.quote{
    text-align: center;
    margin-top: 30px;
    margin-bottom : 20px;
    font-family: 'Fraunces'!important;
    font-size: 32px;
    font-weight: 400;
}
.line{
display: flex;
justify-content: center;
padding-top:10px ;
}
.pain{
    width: 80px;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.pain3{
    width: 80px;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.pain3rooms{
    width: 150px;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.form-controla{
    background-color: #dfdcdc30 !important;
height: 60px !important;
width: 100% !important;
outline: none !important;
padding: 20px !important;
border: none !important;
border-radius: none !important;
font-family: 'Fira Sans', sans-serif !important;
}

.form-control1{
    background-color: #dfdcdc30  !important;
    width: 100% !important;
    outline: none !important;
    /* color: rgb(215, 215, 215) !important; */
    padding: 20px !important;
border: none !important;
border-radius: none !important;
font-family: 'Fira Sans', sans-serif !important;
}
.buttondd{
    width: 100%;
    background: #ffffff00;
    border: 1px solid #BF712B;
    outline: none;
    color: rgb(0, 0, 0);
padding: 10px;
font-weight: 300;
font-family: 'Fira Sans', sans-serif;
font-size: 20px;
transition: linear 250ms;
}
.buttondd:hover{
    transition: linear 250ms;
    width: 100%;
    background: #BF712B;
    border: 1px solid #f7760600;
    outline: none;
    color: rgb(255, 255, 255);
padding: 10px;
font-weight: 300;
font-family: 'Fira Sans', sans-serif;
font-size: 20px;
}

.suite{
    font-family: 'Fraunces', sans-serif;
    font-style: normal;
    font-weight: 400;
font-size: 20px;
}
.suite2{
    font-family: 'Fraunces', sans-serif;
    font-style: normal;
    font-weight: 400;
font-size: 28px;
}
.ft{
    font-weight: 200;
font-family: 'Fira Sans', sans-serif;
font-size: 15px;


}
.booknow{
    width: 100%;
    background-color:#BF712B;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
padding: 10px;
font-weight: 400;
color: white;
font-family: 'Fira Sans', sans-serif;
font-size: 15px;
}
.booknow2{
    width: 275px;
    background-color:#BF712B;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
padding: 10px;
font-weight: 200;
color: white;
font-family: 'Fira Sans', sans-serif;
font-size: 17px;
}
.Kard{
    background: #FFFFFF;
    box-shadow: 0px 3.70795px 22.2477px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 5px;
   transition: all .2s ease-in-out; 

}
.Kard:hover { transform: scale(1.1); }

.Kard2{
    background: #FFFFFF;
    box-shadow: 0px 3.70795px 22.2477px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 5px;
    margin-top: 10%;
    /* transition: all .2s ease-in-out;  */
}
/* .Kard2:hover { transform: scale(1.1); } */

.explore{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.clients{
    text-align: center;
    font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
font-size: 32px;
}



.boggy{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav1{
    background-color: #ffffff;
    /* color:white; */
    height: 96px;
    width: 100%;
    align-items: center;
    display: flex;
    position: fixed;
    border-bottom:1px solid #e8e8ee8e ;
    z-index: 1;

}
.carousel{
    margin-top: 32px 
    !important;
    /* z-index:-1  !important; */
}
.carousel-item{
      z-index:-1  !important;
}
.namess{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    /* text-transform: uppercase; */
    color: #000000;
}
.logos{
/* background-color: red; */
height: 120px;
width: 120px;
margin-top: 20px;
}
.sters{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.clientalks{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10%;
}
.rating{
    height: 70%;
    width: 70%;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    text-align: center; 
    color: #FFFFFF;
    
}
.okpop{
    width: 20%;
    background-color:#BF712B;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
padding: 10px;
font-weight: 700;
color: white;
font-family: 'Fira Sans', sans-serif;
font-size: 15px;
}
.okpop2{
    width: 50%;
    background-color:#ffffff;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    border: 1px solid #BF712B;
    text-align: center;
    margin-top: 35px;
padding: 10px;
color: rgb(0, 0, 0);
font-family: 'Fraunces';
font-style: normal;
font-weight: 400;
transition: linear 250ms;
font-size: 16px;
}
.okpop2:hover{
    transition: linear 250ms;
    width: 50%;
    background-color:#BF712B;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    border: 1px solid #bf702b00;
    text-align: center;
    margin-top: 35px;
padding: 10px;
color: rgb(255, 255, 255);
font-family: 'Fraunces';
font-style: normal;
font-weight: 400;
font-size: 16px;
}
.whitee{
    display: flex;
    justify-content: center;
    padding: 15%;
}
.boxes1{
    background-color: #F9F9F9;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.boxes2{
    object-fit: cover;
    height: 500px;
    width: 500px;
}
.boxes3{
object-fit: cover;
    height: 500px;
    width: 500px;
}
.boxes4{
    background-color: #F9F9F9;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.textholder{
    margin-top: 20px;
    /* height: 30%; */
    width: 70%;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #333333;  
}
.line{
    display: flex;
    justify-content: center;
    padding-top:10px ;
    }
    .pain2{
        width: 120px;
        border-bottom: 1px solid #F5BE8D;
    }
    .luxery{
        text-align: center;
        margin-top: 20px;   
font-family: 'Fraunces';
font-style: normal;
font-weight: 400;
font-size: 20px;
    }
    .Testimonals{
        text-align: center;
 
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        text-align: center;     
        color: #FFFFFF;
    }
    .rooms{
font-family: 'Fraunces';
font-style: normal;
font-weight: 400;
font-size: 36px;
text-align: center;
color: #000000;
    }
 .bigfoot{
    background-color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 3%;
 }
.hott{
   color: #ffffff;
    /* font-family: 'Fraunces'; */
     
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plot{
     font-family: 'Fraunces';
     font-style: normal;
     font-weight: 200;
     font-size: 20px;
     display: flex;
     height: 60%;
     /* background-color: #25d366; */
     justify-content: center;
     align-items: flex-end;
}
 .lost{
    /* background-color: red; */
    height: 100%;
    color: #FFFFFF;
 }
 .omo{
    /* background-color: #25d366; */
    
    justify-content: space-between;
 }
 .address{

 
    font-family: 'Fira Sans', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 16px;
text-align: center;
color: #FFFFFF;
margin-top:100px
 }
 .flexup{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
 }
 .noway{
    font-family: 'Fira Sans', sans-serif;
    display: none;
    flex-wrap: wrap;
    font-style: normal;
font-weight: 400;
font-size: 16px;
color: #FFFFFF;
 }
 .copy{
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
font-style: normal;
font-weight: 200;
font-size: 16px;
color: #FFFFFF;
 }

 .inspired{
    
    color: #000000;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    /* margin-bottom: 70px; */
 }
 .culture{
  
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    margin-top: 20px;
    width: 90%;
 }
 .pushs{
    padding-top: 130px;
 }

 .bigRoom{
    /* background-color: red; */
    position: absolute !important;
 }
 .except{
z-index: 10;
top: 1px;

/* position: relative; */
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-family: 'Fraunces';
font-style: normal;
font-weight: 300;
font-size: 80px;
/* background-color: red; */
text-transform: uppercase;

color: #ffffff;
 }
 .barr{
    font-family: 'Fraunces';
font-style: normal;
font-weight: 300;
font-size: 45px;
/* background-color: red; */
text-transform: capitalize;

color: #ffffff;
 }
 .exceptance{
z-index: 10;
top: 1px;

/* position: relative; */
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-family: 'Fraunces';
font-style: normal;
font-weight: 300;
font-size: 45px;
/* background-color: red; */
text-transform: capitalize;

color: #ffffff;
 }


 .buttroom{
    width: 200px;
    background: #ffffff00;
    border: 1px solid #FFFFFF;
    outline: none;
    color: white;
padding: 10px;
font-family: 'Fira Sans', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 16px;
}
.black{
    /* height:530px; */
    background-color: #1C1C1C;
    /* width: 120px; */
margin: 30px;


    /* border-radius: 5px; */

}
.ftests{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: green; */
}
.secondtest{

    background-color: #151515;
    color: white;
    margin: 10px;
    height: 200px;
    width: 450px;
}
.details{
    /* background-color: red; */
    margin-top: 160px;
}

.standard{
    font-family: 'Fraunces';
font-style: normal;
font-weight: 300;
font-size: 50px;
}
.lag{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
}
.nana{
    text-align: center;
    font-weight: 200;
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
}
.boyest{
    text-align: center; 
}
.classic{
    text-align: start;
    font-weight: 200;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    padding: 25px;
}
.Angle{
    text-align: center;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    font-size: 22px;
    /* padding: 25px; */
}
.services{
    font-weight: 300;
    font-family: 'Fira Sans', sans-serif;
    font-size: 22px;
    padding: 25px;
}
.kingsized{
    font-weight: 200;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
}

.booknow3{
    width: 300px;
    background-color:#BF712B;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
padding: 10px;
font-weight: 300;
color: white;
font-family: 'Fira Sans', sans-serif;
font-size: 15px;
}
.aboyts{
    /* background-color: red; */
    padding: 50px;
    height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}
.board{
    font-family: 'Fraunces';
font-style: normal;
font-weight: 300;
font-size: 40px;
}
.ssves{
    background-color: #F9F9F9;
    padding-top: 55px;
    padding-bottom: 55px;
}
.offers{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    text-align: center; 
}
.courtesy{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    text-align: center;  
}
.okey{
    text-align: center;
    font-weight: 300;
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    padding: 10px;  
}
.phew{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    /* background-color: red; */
    text-transform: capitalize;
    
    color: #ffffff;
}

.mush{
    /* background-color: red; */

    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.omo{
/* background-color: blue; */
width: 600px;
}

.parallax{
    background-image: url("../images/hump.jpeg");
    /* Set a specific height */
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.exceptx{
width: 70%;
padding-left: 10%;

    top: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #ffffff;
     }
     .boxes{
        /* background-color: red; */
        margin-top: 40px;
     }
     .rest{
        display: flex;
        /* justify-content: space-around; */
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 200;
        font-family: 'Fira Sans', sans-serif;
        font-size: 18px;
     }
     .connet{
        /* text-align: center; */
        font-weight: 300;
        font-family: 'Fira Sans', sans-serif;
        font-size: 25px;
        /* padding: 10px;  */
     }
     .buttonddc{
        width: 100%;
        background: #ffffff00;
        border: 1px solid #BF712B;
        outline: none;
        color: rgb(0, 0, 0);
    padding: 10px;
    font-weight: 300;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    transition: linear 250ms;
    }
     .buttonddc:hover{
        transition: linear 250ms;
        width: 100%;
        background: #BF712B;
        border: 1px solid #f7760600;
        outline: none;
        color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: 300;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    }
    .form-controla3{
        background-color: #F9F9F9 !important;
    height: 60px !important;
    width: 100% !important;
    outline: none !important;
    border: none !important;
    padding: 20px !important;
    border-radius: none !important;
    font-family: 'Fira Sans', sans-serif !important;
    }
    .form-control11{
        background-color: #F9F9F9 !important;
        width: 100% !important;
        outline: none !important;
      padding: 20px !important;
    border: none !important;
    border-radius: none !important;
    font-family: 'Fira Sans', sans-serif !important;
    }
    .lob{
        border: 1px solid #e1dede;
        border-radius: 5px;
        padding: 25px;
    }
    .space{
        text-align: center;
        font-weight: 300;
        font-family: 'Fraunces'!important;
        font-size: 25px;
    }
    .nanat{
        /* text-align: center; */
        font-weight: 200;
        font-family: 'Fira Sans', sans-serif;
        font-size: 18px;
        padding: 30px;
    }

    .parallax2{
        background-image: url("../images/hotellobby.jpeg");
        /* Set a specific height */
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }


    .wewcan {
        display: block !important;
        /* color: pink !important; */
    }


    .float{
        position:fixed;
        width:250px;
        height:50px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
      font-size:30px;
      text-decoration: none !important;
      color: white!important;
      z-index:100;
    }
    
    .my-float{
        margin-top:-10px !important;
        font-size: 25px !important;
        text-decoration: none !important;
        color: white!important;
    }
    .howcan{
        /* margin-top:-40px !important; */
        font-size: 18px !important;
        text-decoration: none !important;
        color: white!important;
    }
    .total{
        text-align: center;
        padding-top: 30px;
        font-weight: 200;
        font-family: 'Fira Sans', sans-serif;
        font-size: 18px;
    }
 .twenty{
    font-size: 70px !important;
    font-family: 'Fraunces'!important;
    font-style: normal !important;
    font-weight: 500 !important;
    text-align: center;
    padding-top: 20px;
 }
    .blury1{
        padding-left: 80px;
    }
    .blury2{
        padding-left: 85px;
    }
    .blury3{
        padding-left: 92px;
      
    }
    .blury4{
        padding-left: 65px;
    }
    .blury5{
        padding-left: 50px;
    }
    .nanaa{
        /* text-align: center; */
        font-weight: 200;
        font-family: 'Fira Sans', sans-serif;
        font-size: 17px;
        /* margin: 20px; */
    }
    .rounderd{
        border-radius: 20px;
        height: 40px;
        width: 40px;
        font-weight: 200;
        font-family: 'Fira Sans', sans-serif;
        font-size: 14px;
        border: 1px solid #964B14;
        text-align: center;
    }
    .shocker{
        display: flex;
        justify-content: space-between;
    }
    .from{
        font-weight: 200;
        font-family: 'Fira Sans', sans-serif;
        font-size: 16px;
    }
    .pprice{
        font-family: 'Fraunces'!important;
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 27px;
    }
    .dumped{
        display: flex;
        /* background-color: green; */
        justify-content: center;
    }
    .mdmd{
        /* background-color: yellow; */
      text-align: center;
    }